* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    color: black;
    background-color: rgb(233, 243, 247);
}

.main-header {
    position: fixed;
    width: 100%;
    display: flex;
    left: 0;
    top: 0;
    height: 80px;
    background: white;
    z-index: 31;
    padding: 0 40px;
    box-shadow: 0 2px 4px rgba(7, 9, 13, .1);
}

.logo-holder {
    float: left;
    height: 30px;
    position: relative;
    margin: auto auto auto 0;
}

.scale-image {
    scale: unset !important;
    width: 150px !important;
    height: auto !important;
    -webkit-transform: translateY(-14px);
    transform: translateY(-14px);
}


.sign-up-btn {
    background-color: rgb(30, 30, 94);
    color: white;
    padding: 12px 20px;
    font-weight: 500;
    font-size: 12px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0 auto auto;
    border: none;
    outline: none;
    cursor: pointer;
}

.log {
    text-decoration: none;

}

.sign_up_button {
    background: none;
    border: none;
    color: white;
    padding: 0;
}

.sign_up_button:hover {
    cursor: pointer;
}

.sign-up-btn:hover {
    background-color: rgb(169, 172, 211);

}

.scale-up {
    scale: 1.4;
    margin-left: 10px;
}

.web-header {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}


#backgroundimg {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-image: url("https://findmyhostel.in/static/media/cover-image-3.ea89e80e.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.text1 {
    color: rgb(35, 35, 121);
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.searchbar input[type="text"] {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-size: medium;
}

.searchbar select {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: grey;
    margin-left: 40px;
    cursor: pointer;
    font-size: medium;
}

.searchbar .hostel {
    margin-left: 30px;
}

.searchbar select option {
    color: grey;
}

.searchbar .text2 {
    font-size: medium;
    width: 20%;
    padding: 20px;
    border: none;
    border-radius: 55px;
    margin-left: 90px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.searchbar .text2 i {
    margin-left: 14px;
}



@media (max-width:900px) {

    .searchbar input[type="text"] {
        width: 400px;
    }

    .searchbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .searchbar select {
        margin-top: 20px;
        margin-left: 0px;
        width: 400px;
    }

    .searchbar .hostel {
        margin-left: 0px;
    }

    .searchbar .text2 {
        margin-top: 20px;
        margin-left: 0px;
        width: auto;
    }
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    color: rgb(35, 35, 121);
    font-size: 2.15rem;
    font-weight: 600;
    text-decoration: underline;
}


#aboutus {
    display: flex;
    gap: 10px;
}

.aboutus-card {
    flex: 1;
    justify-content: center;
}

#aboutus .maintext {
    font-size: 1.75rem;
    margin-top: 70px;
    margin-bottom: 50px;
    color: rgb(60, 60, 61);
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    /* margin-left: 50px; */
    text-decoration: underline;
    display: inline-block;

}

#aboutus .subtext {
    font-size: 20px;
    margin-left: 0px;
    margin-right: 10px;
    text-wrap: wrap;
    /* margin-bottom: 50px; */
    text-align: left;
    color: rgb(73, 70, 70);


}

.team {
    font-size: 1.75rem;
    margin-right: 20px;
    margin-top: 70px;
    margin-bottom: 50px;
    color: rgb(60, 60, 61);
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    /* margin-left: 50px; */
    text-decoration: underline;
    display: inline-block;
}

.teaminfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.teaminfo .box {
    display: flex;
    flex-direction: column;

}

.teaminfo .box h6 {
    font-size: 17px;
    margin-bottom: 20px;
}

.teaminfo .box img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-bottom: 10px;

}

.popular-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
}

.popular-heading {
    font-size: 1.5rem;
    color: rgb(35, 35, 121);
    font-size: 2.15rem;
    font-weight: 600;
    text-decoration: underline;
}

.popular-card {
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    height: 260px;
    min-width: 230px;
    margin: 50px 20px 0px 20px;
}

.popular-container {
    padding: 60px 40px;
}

.pop-image {
    /* width: 0%; */
    height: 200px;
}

.popular-card>div>img {
    /* object-fit: contain; */
    background-repeat: no-repeat;
    height: 90%;
    max-width: 100%;
    border-radius: 20px 0px;

}

.popular-name {
    display: flex;
    padding: 0px 20px;
}





@media (max-width: 425px) {
    .searchbar select {
        width: 300px;
    }

    .searchbar input[type="text"] {
        width: 300px;
    }

}

@media (max-width:800px) {
    #aboutus .teaminfo .box img {
        height: 140px;
        width: 140px;
    }

    #aboutus .teaminfo .box h6 {
        font-size: 17px;
    }

}

@media (max-width:900px) {
    #aboutus {
        flex-direction: column;
    }
}


@media (max-width:600px) {
    #aboutus .teaminfo .box img {
        height: 100px;
        width: 100px;
        margin-right: 20px;
    }
}

@media (max-width:500px) {
    #aboutus .teaminfo .box img {
        height: 80px;
        width: 80px;
        margin-right: 20px;
    }

    #aboutus .left .subtext{
        font-size: 16px;
    }

    #aboutus .teaminfo .box h6 {
        font-size: 14px;
    }

}

